<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">
        <activity
            android:name=".SoldTicketsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".SuccessfullPayment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".BookingInformation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SeatSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".MoviesSettings"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".AdminSettings"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Information"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Movies"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Drawer"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Welcome"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>